<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.css" rel="stylesheet" media="screen">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="js/script.js"></script>
  <script src="js/brandmap.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<style>
i.icon-half-star {
  background-position: -120px 0;
  width: 8px !important;
}
i.icon-half-star-empty {
  background-position: -152px 0;
  width: 6px !important;
}
</style>
<body>
  <div class="container">
    <div class="page-header">
      <h1>GreenStar</h1>
    </div>
    <p class="lead">
      Click Add to start adding devices!
    </p>
    <ul id="appliance-list" class="nav nav-tabs nav-stacked"></ul>
    <div class="btn-group" style="display: none;">
      <button class="btn btn-large btn-primary">Add device</button>
      <button class="btn btn-large btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a>Television</a></li>
        <li><a>Refrigerator/Freezer</a></li>
        <li><a>Clothes Washers</a></li>
        <li><a>Dishwashers</a></li>
        <li><a>Clothes Dryers</a></li>
        <li><a>Air Conditioners</a></li>
      </ul>
    </div>
    <form class="form-inline">
      <input placeholder="Brand" data-field="brand" type="text" data-provide="typeahead" autocomplete="off">
      <input placeholder="Model Number" data-field="model" type="text" data-provide="typeahead" autocomplete="off">
      <button type="submit" data-field="add" class="btn btn-primary disabled">Add</button>
    </form>
  </div>
</body>
<script id="appliance-list-template" type="text/x-template">
<li><a><span><%= brand %></span> <span><%= model %></span><%= stars %></a></li>
</script>
</html>
